esp8266:
  board: nodemcuv2
  restore_from_flash: true

api:

web_server:

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

esphome:
  min_version: "2023.12.0"
  name: air-purifier

logger:
  level: INFO # DEBUG makes uart stream available in esphome logstream
  baud_rate: 0 # disable logging over uart

uart:
  id: uart_bus
  rx_pin: D7
  #  tx_pin: D0
  baud_rate: 9600
  # debug:
  #   direction: RX
  #   dummy_receiver: false
  #   after:
  #     bytes: 10
  #   sequence:
  #     - lambda: UARTDebug::log_int(direction, bytes, ',');

external_components:
  - source: github://eigger/espcomponents@latest
    components: [ uartex ]
    refresh: always

uartex:
  uart_id: uart_bus
  rx_timeout: 10ms
  rx_header: [0xFF]
  rx_checksum: !lambda |-
      uint8_t sum = 0;
      // Sum Byte 1 through 7
      for (int i = 0; i < 7; i++) {
        sum += data[i];
      }
      return (uint8_t)((~sum) + 1);

sensor:
  - platform: uartex
    state: []
    state_number:
      offset: 2
      length: 2
      precision: 1
      signed: false
      
    name: pm25
    id: "pm25"
    unit_of_measurement: "Î¼g/m3"
    accuracy_decimals: 2
    filters:
      - exponential_moving_average:
          alpha: 0.1
          send_every: 30
      - or:
          - delta: 1.0
          - heartbeat: 600s
    on_value:
      then:
        - script.execute: set_fan_speed

# We cannot use fan.set_speed from the script as that clears the preset.
# The number converts the 0-3 speeds to a 0-1 float to set on the pwm_output. 
number:
  - platform: template
    name: speed_auto
    disabled_by_default: True
    id: speed_auto
    min_value: 0
    max_value: 3
    step: 1
    optimistic: True
    set_action: 
      then:
        output.set_level:
          id: pwm_output
          level: !lambda "return int(x) / 3.0f;"
        
output:
  - platform: esp8266_pwm
    pin: D1
    frequency: 1000 Hz
    id: pwm_output

fan:
  - platform: speed
    output: pwm_output
    name: "Air Purifier"
    id: air_purifier
    restore_mode: RESTORE_DEFAULT_ON
    # Use 3 discreet modes of the tile card.
    speed_count: 3
    preset_modes:
      - auto
      - sleep
    on_preset_set:
      then:
        - script.execute: set_fan_speed

script:
  - id: set_fan_speed
    mode: restart
    then:
      - logger.log:
          level: INFO
          format: "Preset mode: %s"
          args:
            - "id(air_purifier).get_preset_mode().c_str()"
      - if:
          # Auto mode
          condition:
            - lambda: 'return (id(air_purifier).has_preset_mode() && id(air_purifier).get_preset_mode() == "auto");'
          then:
            - number.set:
                id: speed_auto
                value: !lambda |-
                  return round(remap(id(pm25).state, 20.0f, 500.0f , 0.0f, 3.0f));
          else:
            # Sleep mode
            if:
              condition:
                and:
                  - lambda: 'return (id(air_purifier).has_preset_mode() && id(air_purifier).get_preset_mode() == "sleep");'
                  - fan.is_on: air_purifier
              then:
                - number.set:
                    id: speed_auto
                    value: 1.0
